---
import { Image } from 'astro:assets';

const { author } = Astro.props;

---


<div class="grid grid-cols-[48px_1fr] gap-3 max-w-[200px] rounded-full mx-auto items-center border">
  <div class="">
    <Image
      src={author.fields.image.fields.file.url as string}
      alt={author.fields.fullname}
      width={200}
      height={200}
      loading="eager"
      class="w-12 h-12 object-contain"
    />

  </div>
  <div class="text-left text-sm text-gray-500">
    <span class="font-medium">écrit le 16/02/2024</span>
    <p class="m-0 font-semibold">par {author.fields.fullname}</p>
  </div>
</div>