---

import Footer from '@/components/Footer.astro';
import Navbar from '@/components/Navbar';
import '@/styles/global.css';
import ViewTransitions from "astro/components/ViewTransitions.astro";

const { title } = Astro.props;


---

<html lang="fr" class="scroll-smooth">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
  </head>
  <body class="min-h-screen w-full">
    <Navbar client:load />
    <main class="max-w-5xl mx-auto px-4 py-8 pt-20">
      <article>
        <slot />
      </article>
    </main>
    <Footer />
    <ViewTransitions />
  </body>
</html>


